<div class="container">
  <div class="row">
    <div class="col">
      <label>Título Persona</label>
      <input type="text" class="form-control" [(ngModel)]="tituloPersona">
      {{tituloPersona}}

      <h1>Listado de Personas</h1>
      <button class="btn btn-primary"
      [disabled]="!agregarPersona"
      (click)="onCrearPersona()">
          Agregar Persona
      </button>
      <p *ngIf="personaCreada; else sinPersona">{{agregarPersonaStatus}} con título de {{tituloPersona}}</p>
      <ng-template #sinPersona>
        <p>No se ha agregado ninguna persona</p>
      </ng-template>
      <app-persona></app-persona>
    </div>
  </div>
</div>
